.grow {
  background-color: $pale-blue;
  &-container {
    display: flex;
    padding: 5rem 10rem;
    align-items: center;
    justify-content: space-between;
  }

  &-contents {
    width: 30vw;

    & > p {
      font-size: 14px;
    }
  }

  &-image {
    & > img {
      width: 30vw;
    }
  }
}
